@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none;
    margin: 0;
    font-family: 'Raleway', sans-serif;




}

html {
    overflow-x: hidden;
    font-family: 'Raleway' sans-serif !important;


}
/* services dropdown styling */
#service-dropdown {
    width: 500px;
    position: fixed;
    height: 300px;
    display: flex;
    top: 100px;
    right: 0;
    padding-top: 20px;
    background-color: white;
    color: #042453;
    padding-bottom: 20px;
    transition: 1s;
    transform: translateY(-500px);
    z-index: 100;
}

.service-dropdown {
    transform: translateY(0);
}

#service-dropdown div:first-of-type {
    border-right: 2px dashed #042453;
    width: 50%;

}

#service-dropdown div h1 {
    margin-left: 25px;
    margin-bottom: 15px;
    font-size: 25px;

}

#service-dropdown div a {
    display: block;
    color: #042453;
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: 20px;
}


body {
    background-color: #f1f1e7;
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    align-items: center;
    position: relative;
    position: fixed;
    z-index: 105;
    top: 0;
}

header .container {
    width: 85%;
    height: 100%;
    margin: auto;
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header .container #bar,
header .container #time {
    position: absolute;
    right: 0;
    color: #042453;
    font-size: 30px;
    display: none;
    cursor: pointer;
}

header .container .links {

    align-items: center;
    display: flex;
    gap: 5rem;
}

header .container .links a {
    font-size: 20px;
    color: black;
}

header .container .links .service-cont {
    gap: 1rem;
    display: flex;
    position: relative;
    width: 100px;
}

header .container .links #arrow,
header .container .links #arrow-up {
    position: absolute;
    margin-top: 5px;
    cursor: pointer;
    right: 0;
}

header .container .links #arrow-up {
    visibility: hidden;
}

header .container .links .apply {
    background-color: #042453;
    padding: 8px 10px;
    color: white;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 5px;
    transition: .5s;

}

header .container .links .apply:hover {
    background-color: white;
    color: #042453;
    border: 2px solid #042453;
    border-top: none;

}





@media (max-width:1100px) {
    header .container .header-talent{
        display: block;
    }
    header .container {
        width: 90%;
    }
    header .container .links .apply {
        width: 120px;
        font-size: 20px;
        margin: auto;
        
    }
    header .container .links #arrow,
header .container .links #arrow-up {
    display: none;
}
    header .container .links {
        width: 100%;
        display: block;
        align-items: center;
        justify-content: center;
        position: fixed;
        padding-top: 100px;
        z-index: 100;
        height: 100vh;
        left: 0;
        top: 100px;
        transition: .2s;
        background-color: #f1f1e7;
        transform: translateY(-180vh);
    }
    header .container .links a {
        color: #042453;
        margin-bottom: 40px;
        text-align: center;
        display: block;
    }
    header .container .service-cont{
        margin: auto;
        text-align: center;
    }

    header .container img {
        height: 40px;
    }

    header .container #bar {
        display: block;
    }

}
@media (max-width:768px){
    #header .container .service-cont{
        margin-left: 200px;
    }

}

@media (max-width:600px) {
    header .container img {
        height: 30px;
    }

    header .container #bar,
    header .container #time {
        font-size: 25px;
    }
}